python-dotenv==1.1.0
streamlit==1.46.0
langchain_openai==0.3.24
langchain==0.3.26
langchain_community==0.3.26
pymongo==4.13.2
pytest==8.4.1
streamlit_oauth==0.1.14
httpx==0.28.1
tiktoken==0.9.0
langgraph==0.4.8
langfuse==2.60.5
pillow==11.2.1
