openai==1.79.0
pymupdf==1.25.5
fastapi==0.115.9
python-ulid==3.0.0
langchain==0.3.25
langchain_community==0.3.24
gunicorn==23.0.0
uvicorn==0.34.2
pydantic==2.11.4
chromadb==1.0.9
pymongo==4.12.1
pydantic-settings==2.9.1
python-multipart==0.0.20
pytest==8.3.5
markdownify==1.1.0
beautifulsoup4==4.13.4
tiktoken==0.9.0
pymupdf4llm==0.0.24
apscheduler==3.11.0
httpx==0.28.1
requests==2.32.3
packaging==25.0
